.services-heading{
	color:#265F92; 
	font-weight: bold;
}

.bc-img-col{
    background-image: url('../images/headline-gallery.jpg'); 
    background: cover; 
    height: 235px;
}



.gallery{
	a:hover{
				background-color: red;

	}
}

.gallery-row{
    margin-top:4em;
}


.sliderow{
    //max-width:100%;
    //width:100%;
}

.page-title{
    background-color: #6d6d6d; 
    color:white; display: 
    inline-block; 
    padding: 10px;
}

.pagetitle-col{
    position: relative; 
    text-align: center;
    margin-top: -30px;
}

.col-margin{
    margin-top: 2em;
}

.row-margin{
    margin-top: 5em;
}

.footer-col{
    background-color: black; 
    height: 10em;

    margin-top:1.5em;
}

.footer-text{
    color: white;
    
}

.footer-row{
    //max-width: 100%; 
    margin-top: 2em;
}

.row-services{
    margin-top: 1em;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
    background-color: white;
}

.top-bar{
    background-color: white;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
    color: #265F92;
}

.top-bar .name h1 a{
    color: #265F92;
}

.top-bar .toggle-topbar.menu-icon a {
     color: #265F92;  
}

.top-bar .toggle-topbar.menu-icon{
   background-color: #265f92;   
}

.top-bar.expanded .title-area{
    background-color: white;
}

.top-bar-section ul li>a{
    color: #265f92;
    font-weight: bold;
    font-size: 1em;
}

.top-bar-section li:not(.has-form) a:not(.button){
    background-color: white;
}

.top-bar-section ul li{
    background-color: white;
}

.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
    background-color: white;
    color: #265f92;    
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #0078a0;
    color: white;
}

.top-bar-section .has-dropdown>a:after {
    border-color: #265f92 transparent transparent transparent;
}

.top-bar-section .has-dropdown:hover {
    background-color: #265f92;
}

.orbit-container .orbit-slides-container>* .orbit-caption {
     position: relative;
     top: -250px;
     left: 545px;
     background-color: black;
     color: white;
     height: 130px;
     width: 400px;

}

